{% load static %}  
<link href="{% static 'css/style.css' %}" rel="stylesheet">   
{% load static %}  
   <script src="{% static 'js/script.js' %}"></script>
   
<!DOCTYPE html>  
<header>
	<h1>URL Shortener</h1>
</header>

<div id="form">

<div class="fish" id="fish"></div>
<div class="fish" id="fish2"></div>



<form action="{% url 'shorten' %}" method="get">
	{% csrf_token %}
	<div class="formgroup" id="name-form">
		<label for="name">Enter the link here</label>
		<input type="text" id="name" name="url" />
	</div>
	
		<input type="submit" value="Shorten the URL" />
		
	{% if shortenedURL %} 
	<div class="form-link">
		<tabloid>Shortened URL:</tabloid><tabloid><a href="{{shortenedURL}}">{{shortenedURL}}</a></tabloid> 
	</div>
	{% endif %}
</form>
	
</div>